html, body {
  text-align: center;
  box-sizing: border-box;
  background-color: gold;
  font-family: "Spectral", serif;
}

#main-box {
  background-color: grey;
  max-width: 60%;
  margin: 30vh auto 0 auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

#quote-display {
  height: 100px;
  background-color: purple;
  color: white;
  text-align: right;
  padding: 20px;
}

#current-quote {
  text-align: center;
  font-size: 1.9vw;
}

#bottom-bar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

#new-quote {
  border-radius: 10px;
  border-width: 0;
}

.sm-icon {
  max-width: 40px;
  padding: 5px;
}
